/* .header-container * {
    outline: 1px solid green;
} */
/* TYPOGRAPHY */

.header-logo {
    letter-spacing: 0.1ch;
    text-transform: uppercase;
}

.nav-links-text,
.nav-logout-btn {
    font-size: 1rem;
    font-weight: bold;
    color: var(--neutral-500);
    text-transform: capitalize;
    text-align: center;
}
.nav-logout-btn {
    letter-spacing: 0;
}

.header-logo {
    color: var(--neutral-800);
}

.nav-links-text,
.header-logo,
.nav-logout-btn {
    text-shadow: 0.7px 0.7px 1px var(--neutral-400);
}

/* LAYOUT */
.header-container {
    min-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 0;

    border-bottom: 1px solid var(--neutral-800);
}

.header-nav-links {
    display: flex;
    column-gap: 3em;
}

.header-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 1em;
}

.nav-links-text {
    padding: 0.5em 1.5em;
    border-radius: 10px;
    transition: all 0.3s ease-in 0s;
}

.nav-logout-wrapper {
    margin-right: 1em;
}

.nav-logout-btn {
    background-color: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in 0s;
}

.nav-links-text:hover,
.nav-logout-btn:hover {
    cursor: pointer;
    color: black;
}
.nav-links-text.active {
    color: white;
    background-color: black;
}
@media (max-width: 750px) {
    .header-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .header-nav-links {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}
