/* TYPOGRAPHY */
.settings-header {
    color: var(--neutral-700);
    text-align: center;
}

.settings-update-currency-btn,
.settings-change-name-btn,
.btn-pw-change,
.settings-delete-btn {
    color: var(--neutral-50);
    font-weight: bold;
    text-transform: capitalize;
}

.settings-delete-btn {
    font-size: 1rem;
}

.change-pw {
    color: var(--neutral-600);
    font-weight: 200;
}

.h2-acc-del {
    color: var(--neutral-900);
}

/* LAYOUT */
.settings-container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;

    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0.1em;

    padding: 2em 4em;

    border-left: 1px solid var(--neutral-800);
    border-right: 1px solid var(--neutral-800);
    box-shadow: -1px 0 3px var(--neutral-400), 1px 0 3px var(--neutral-400);

    background-color: var(--neutral-50);
}

.settings-header {
    margin-bottom: 0.5em;
}

/* .acc-currency-form * {
    outline: 1px solid green;
} */
.acc-currency-form {
    display: flex;
    justify-content: space-between;
}

.acc-currency-format {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.7em;
}

.settings-update-currency-btn,
.settings-change-name-btn,
.btn-pw-change,
.settings-delete-btn {
    padding: 0.75em 1.5em;

    background-color: black;

    border: none;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    transition: all 0.3s ease-in-out 0s;
}
.settings-update-currency-btn:hover,
.settings-change-name-btn:hover,
.btn-pw-change:hover {
    background-color: var(--neutral-900);
    transform: scaleX(1.01) scaleY(1.01);
}

.change-name-formgroup {
    display: flex;
    justify-content: space-between;
}

.change-name-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}

.change-name-input > input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    width: 200px;
}

.acc-delete-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-delete-btn {
    background-color: var(--accent-error-600);

    border: none;
    border-radius: 10px;
}

.settings-delete-btn:hover {
    background-color: var(--accent-error-500);
    transform: scaleX(1.05) scaleY(1.05);
}
