/* TYPOGRAPHY */
.signup-hero-text {
    font-size: 2rem;
}

.signup-info-text {
    font-size: .875rem;
    color: var(--text-secondary);
}

.signup-help-text {
    color: var(--button-bg);
    font-weight: bolder;
    transition: color 0.3s ease-in-out 0s;
}

.signup-help-text:hover,
.signup-help-text:focus {
    color: var(--button-bg-hover);
}

.signup-formgroup>label {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1ch;
}

.signup-hero-text,
.signup-info-text,
.signup-help-text {
    text-align: center;
}

.signup-formgroup>input {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: .2ch;
}

.signup-btn {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--neutral-50);
}


/* LAYOUT */

.signup-container {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #f5f5f5;
    background: radial-gradient(circle, rgba(245, 245, 245, 1) 0%, rgba(130, 197, 209, 1) 50%, rgba(117, 135, 189, 1) 100%);
}


.signup-wrapper {
    background-color: var(--neutral-50);
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-info-text {
    margin-top: .2em;
}

.signup-help-text {
    margin-left: .2em;
}

.signup-formgroup>input {
    width: 100%;
    padding: 0.75em 1.5em;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    background-color: var(--neutral-200);
}

.signup-formgroup>label {
    margin: .5em 0;
    margin-left: .3em;
}

.signup-container,
.signup-formgroup>input {
    margin: 0 auto;
}

.signup-formgroup>input {
    margin-bottom: 1.5em;
}

.signup-btn-wrapper {
    display: flex;
    justify-content: center;
}

.signup-btn {
    width: 50%;
    padding: 0.5em 1.5em;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-400);
    box-shadow: 2px 2px 2px var(--primary-400);
    transition: background-color 0.3s ease-in-out 0s;
}

.signup-btn:hover,
.signup-btn:focus {
    background-color: var(--primary-600);
    box-shadow: 2px 2px 2px var(--primary-600);
}